<a href="https://colab.research.google.com/github/ishaterdal/PeaceTech-Lab-Ethiopia-Lexicon/blob/main/Hate_Speech_Ethiopia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [28]:
terms = pd.read_csv('/content/Terms_Original.csv', header=None)

In [29]:
terms.head()

                                      0
0                       SARANGA TI WALI
1                                  rien
2                                 HAINE
3                                 TETUE
4  LES GBAKAS MANDJA SONT TROP EGOISTES

In [30]:
print(terms)

                                        0
0                         SARANGA TI WALI
1                                    rien
2                                   HAINE
3                                   TETUE
4    LES GBAKAS MANDJA SONT TROP EGOISTES
..                                    ...
946                          houroukouzou
947                            nda kangue
948                         koundjou mass
949                            Cannibales
950                                Banda√Ø

[951 rows x 1 columns]

In [9]:
terms.describe()

       List_the_hate_speech_phrase_with_a_comma    a_Term a_Term_001 a_Term_002
count                                       482       482        284        185
unique                                      481       403        246        168
top           ETRANGER ; RELIGION ; POLITIQUE ;  ETRANGER     BENGUE     BENGUE
freq                                          2        11          5          5

In [10]:
terms.rename(columns={'List_the_hate_speech_phrase_with_a_comma':'terms_list', 'a_Term':'term_1', 'a_Term_001':'term_2','a_Term_002':'term_3'}, inplace=True)

In [26]:
terms.head()

                                                   0
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,
1                                               rien
2                      HAINE ; RELIGION ; ETHNIQUE ;
3                     TETUE ; VOYOU ; MO YINGA MBI ?
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...

In [31]:
terms[0].value_counts().to_frame().to_excel('Sec4.xlsx')

In [ ]:
from sklearn import preprocessing

In [ ]:
section2 = terms['terms_list']

In [ ]:
section2

0               SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,
1                                                   rien
2                          HAINE ; RELIGION ; ETHNIQUE ;
3                         TETUE ; VOYOU ; MO YINGA MBI ?
4      LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...
                             ...
477                        chamarocka, kholo, nda kangue
478                        Amdjoudoul iwacki koudjoumass
479    Bengue, arabo, pro fran√ßais, pro russes, moutons,
480                                             Gangster
481                      - Lawa Lawa\n- Bengu√®\n- Banda√Ø
Name: terms_list, Length: 482, dtype: object

In [ ]:
!pip install contractions
import contractions

Collecting contractions
  Downloading https://files.pythonhosted.org/packages/ce/ad/d1c685967945a04f8596128b15a1ab56c51488f53312e953341af6ff22d1/contractions-0.0.43-py2.py3-none-any.whl
Collecting textsearch
  Downloading https://files.pythonhosted.org/packages/42/a8/03407021f9555043de5492a2bd7a35c56cc03c2510092b5ec018cae1bbf1/textsearch-0.0.17-py2.py3-none-any.whl
Collecting Unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 245kB 6.0MB/s
Collecting pyahocorasick
  Downloading https://files.pythonhosted.org/packages/f4/9f/f0d8e8850e12829eea2e778f1c90e3c53a9a799b7f412082a5d21cd19ae1/pyahocorasick-1.4.0.tar.gz (312kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 317kB 8.3MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.0-cp36-cp36m-linux_x86_64.whl size=81699 sha256=c7b7b3d1a43be36fe3fc26c8fbe7ee5285c0073c0be2cf3d073adf136ca08813
  Stored in directory: /root/.cache/pip/wheels/0a/90/61/87a55f5b459792fbb2b7ba6b31721b06ff5cf6bde541b40994
Successfully built pyahocorasick
Installing collected packages: Unidecode, pyahocorasick, textsearch, contractions
Successfully installed Unidecode-1.1.1 contractions-0.0.43 pyahocorasick-1.4.0 textsearch-0.0.17

In [ ]:
terms['no_contract'] = section2.apply(lambda x: [contractions.fix(word) for word in x.split()])

In [ ]:
terms.head()

                                          terms_list  ...                                        no_contract
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,  ...  [SARANGA, TI, WALI, ;, TAXI, -MOTO, ;, VOYOU, ;,]
1                                               rien  ...                                             [rien]
2                      HAINE ; RELIGION ; ETHNIQUE ;  ...               [HAINE, ;, RELIGION, ;, ETHNIQUE, ;]
3                     TETUE ; VOYOU ; MO YINGA MBI ?  ...            [TETUE, ;, VOYOU, ;, MO, YINGA, MBI, ?]
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...  ...  [LES, GBAKAS, MANDJA, SONT, TROP, EGOISTES;, L...

[5 rows x 5 columns]

In [ ]:
terms["msg_str"] = [' '.join(map(str, l)) for l in terms['no_contract']]
terms.head()

                                          terms_list  ...                                            msg_str
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,  ...            SARANGA TI WALI ; TAXI -MOTO ; VOYOU ;,
1                                               rien  ...                                               rien
2                      HAINE ; RELIGION ; ETHNIQUE ;  ...                      HAINE ; RELIGION ; ETHNIQUE ;
3                     TETUE ; VOYOU ; MO YINGA MBI ?  ...                     TETUE ; VOYOU ; MO YINGA MBI ?
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...  ...  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...

[5 rows x 6 columns]

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
text = "Hi, I would like to tokenize this sentence"

In [ ]:
print(word_tokenize(text))

['Hi', ',', 'I', 'would', 'like', 'to', 'tokenize', 'this', 'sentence']

In [ ]:
terms['tokenized'] = terms['msg_str'].apply(word_tokenize)

In [ ]:
terms.head()

                                          terms_list  ...                                          tokenized
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,  ...  [SARANGA, TI, WALI, ;, TAXI, -MOTO, ;, VOYOU, ...
1                                               rien  ...                                             [rien]
2                      HAINE ; RELIGION ; ETHNIQUE ;  ...               [HAINE, ;, RELIGION, ;, ETHNIQUE, ;]
3                     TETUE ; VOYOU ; MO YINGA MBI ?  ...            [TETUE, ;, VOYOU, ;, MO, YINGA, MBI, ?]
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...  ...  [LES, GBAKAS, MANDJA, SONT, TROP, EGOISTES, ;,...

[5 rows x 7 columns]

In [ ]:
terms['lower'] = terms['tokenized'].apply(lambda x: [word.lower() for word in x])
terms.head()

                                          terms_list  ...                                              lower
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,  ...  [saranga, ti, wali, ;, taxi, -moto, ;, voyou, ...
1                                               rien  ...                                             [rien]
2                      HAINE ; RELIGION ; ETHNIQUE ;  ...               [haine, ;, religion, ;, ethnique, ;]
3                     TETUE ; VOYOU ; MO YINGA MBI ?  ...            [tetue, ;, voyou, ;, mo, yinga, mbi, ?]
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...  ...  [les, gbakas, mandja, sont, trop, egoistes, ;,...

[5 rows x 8 columns]

In [ ]:
import string
punc = string.punctuation
terms['no_punc'] = terms['lower'].apply(lambda x: [word for word in x if word not in punc])
terms.head()

                                          terms_list  ...                                            no_punc
0           SARANGA TI WALI ; TAXI -MOTO ;  VOYOU ;,  ...            [saranga, ti, wali, taxi, -moto, voyou]
1                                               rien  ...                                             [rien]
2                      HAINE ; RELIGION ; ETHNIQUE ;  ...                        [haine, religion, ethnique]
3                     TETUE ; VOYOU ; MO YINGA MBI ?  ...                     [tetue, voyou, mo, yinga, mbi]
4  LES GBAKAS MANDJA SONT TROP EGOISTES; LES YAKO...  ...  [les, gbakas, mandja, sont, trop, egoistes, le...

[5 rows x 9 columns]

In [ ]:
terms.terms_list.str.split(expand=True).stack().value_counts()[:50]

;             943
TI            274
MO            188
A             174
ZO            102
SO             88
ALA            78
LA             77
LO             69
BA             49
NA             46
?              44
GA             44
MBI            38
YEKE           35
,              34
BOUBA          33
LES            31
WALI           29
APE            28
TU             28
BENGUE         26
I              26
MAMA           24
AWE            22
LAWA           20
ARABO          19
DE             19
PINDOUNGOU     18
DES            18
RELIGION       17
MBORORO        17
TOUADERA       17
GANGO          16
ETRANGER       16
ETHNIQUE       16
LE             15
KATA           15
YA             15
MBO            14
GBAYA          14
POLITIQUE      13
ME             13
SELEKA         13
KE             13
INGA           13
ES             13
BANDA          13
TA             13
NGONDA         12
dtype: int64

In [ ]:
terms.term_1.str.split(expand=True).stack().value_counts()[:50]

TI            93
;             83
A             70
MO            54
ZO            35
SO            31
ALA           31
LO            24
LA            24
GA            19
BA            16
LES           15
,             14
MBI           13
BOUBA         13
?             13
NA            13
ETRANGER      12
LAWA          11
MBORORO       11
TOUADERA      11
DE             9
TU             9
ARABO          9
YA             8
YEKE           8
MBO            8
WALI           8
DES            7
AWE            7
GANGO          7
MAMA           7
APE            6
BANDA          6
les            6
KATA           6
KPANDA         6
ETHNIQUE       6
IDIOT          6
RELIGION       5
KORORO         5
PINDOUNGOU     5
ME             5
TA             5
VOUS           5
GODOBE         5
la             5
SONT           5
YAKOMA         5
ES             5
dtype: int64

In [ ]:
terms_final = terms.value_counts()

In [ ]:
terms_f = terms_final.to_frame()

In [ ]:
print(terms_f)

                                                     0
0
ETRANGER                                            16
BENGUE                                              11
BOUBA ZO                                            10
RELIGION                                             9
ETHNIQUE                                             9
...                                                 ..
MOLENGUE TI OMBA                                     1
MOLENGUE TI OMBA ; GANA CAR; MO ZO LA;               1
MON GA LAWA ; C'EST UN ORGUEILLEUX ; MOUTON          1
MON GA LAWA ; MON YEKE ZOA GUE ; I INGA A ALA WE !   1
- Lawa Lawa\n- Bengu√®\n- Banda√Ø                      1

[1201 rows x 1 columns]

In [ ]:
len(terms_f)

1201

In [ ]:
terms_f.to_excel('Terms_Final.xlsx')